h1 {
    text-align: center;
}

.gamecontainer {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    justify-content: center;
}

#betscreen, #betboard {
    display: grid;
    border: 1px solid blue;
    background-color: khaki;
    padding: 10px 20px;
    align-items: center;
}

#wheel {
    height: 225px;
    width: 225px;
    background-color: mediumslateblue;
    font-size: 200px;
    text-align: center;
    color: white;
    border-radius: 100%;

}

#spin {
    width: 50px;
    margin: auto;
}

#betlog {
    display: flex;
    height: 25px;
    width: 225px;
    background-color: lightgray;
    margin: auto;
}

#betinfo {
    display: flex;
    background-color: mediumslateblue;
    justify-content: space-between;
    padding: 0px 10px;
}


#betchips {
    display: flex;
    background-color: mediumslateblue;
    justify-content: space-evenly;
}

.cell {
    height: 75px;
    width: 75px;
    border: 1px solid white;
    font-size: 50px;
    text-align: center;
    align-items: center;
    color: white;
}

.row {
    display: flex;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.chips {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    font-size: 25%;
    margin: auto;
    padding: 0px;
    background-color: aquamarine;
}